<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <link rel="stylesheet" href="https://material.angularjs.org/latest/angular-material.min.css" />
        <script src="https://material.angularjs.org/latest/angular-material.min.js"></script>
    </head>
<body ng-app="Workout" ng-controller="main">
    <ul>
        <li ng-repeat="task in tasks">
            <button ng-click="startTask(task)">{{task.name}} {{(task.running?'running: ' + task.remaining : '')}}</button>
        </li>
    </ul>
    <script>
      var app = angular.module('Workout', []);
      app.controller('main', function($scope, $interval) {
            $scope.tasks = [
            {name:'mavebøjninger',duration:30},
            {name:'armbøjninger',duration:30}
            ];
            $scope.startTask = function(task){
                task.remaining = task.duration;
                task.running = true;
                var interval = $interval(function() {
                    if(task.remaining === 0){
                        task.running = false;
                    }
                    task.remaining = task.remaining - 1;
                }, 1000, task.duration + 10);
            };
        });
  </script>
</body>
</html>